.NotificationItem {
  cursor: pointer;
  position: relative;
  height: 113px;
  & > img {
    position: absolute;
    left: 20px;
    top: 16px;
  }
  & > div:nth-of-type(1) {
    position: absolute;
    left: 84px;
    top: 20px;
    color: #8638ea;
    font-size: 11px;
    line-height: 13px;
  }
  & > div:nth-of-type(2) {
    position: absolute;
    left: 84px;
    top: 37px;
    color: #212121;
    font-size: 15px;
    font-weight: bold;
    line-height: 21px;
  }
  & > div:nth-of-type(3) {
    position: absolute;
    left: 84px;
    top: 62px;
    color: #737373;
    font-size: 13px;
    line-height: 16px;
  }
  & > div:nth-of-type(4) {
    position: absolute;
    left: 84px;
    top: 82px;
    color: #929292;
    font-size: 11px;
    line-height: 15px;
  }
}
