/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./.yarn/__virtual__/next-virtual-c105412961/0/cache/next-npm-13.4.9-5c37513773-7adb9919dc.zip/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[2]!./.yarn/__virtual__/next-virtual-c105412961/0/cache/next-npm-13.4.9-5c37513773-7adb9919dc.zip/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[3]!./src/app/match/style.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.chatMessageArea {
  padding: 20px;
}

.message {
  box-sizing: border-box;
  background: #eee;
  border-radius: 20px;
  padding: 10px;
  width: 70%;
  margin-bottom: 20px;
}

.sent {
  background: #09f;
  color: #fff;
  margin-left: 30%;
}

.chatTool {
  position: fixed;
  bottom: 0;
  background: #eee;
  height: 60px;
  width: 100%;
  > input {
    font-size: 16px;
    box-sizing: border-box;
    margin: 10px;
    background: #fff;
    border: none;
    border-radius: 10px;
    height: 40px;
    margin-left: 50px;
    width: calc(100% - 140px);
    padding: 10px;
  }
}

