.SocialBtn {
  &:first-of-type {
    margin-top: 50%;
  }
  display: block;
  border-radius: 10px;
  border: none;
  height: 48px;
  line-height: 47px;
  width: 260px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.25);
  transition-duration: 0.2s;
  &:hover {
    transform: scale(1.06);
    box-shadow: 6px 12px 32px rgba(0, 0, 0, 0.15);
  }
}

.page {
  width: 100%;
  height: 100%;
  background-color: rgb(2, 0, 36);
  background: linear-gradient(50deg, #e096fa 30%, #83d8fc 80%);
}
